<app-header></app-header>
<app-welcome-div></app-welcome-div>
<h2 class="text-[25px] text-center mt-[60px] mb-[60px]">
  Why Choose LinguaLearn?
</h2>

<div id="cardsDiv" class="grid grid-cols-3 grid-rows-2 mx-[50vh]">
  <app-card
    [imageSrc]="'asdads.png'"
    [title]="'Card Title'"
    [description]="
      'Card description goes here. Lorem ipsum dolor sit amet. Consectetur adipiscing elit.'
    "
  ></app-card>
  <app-card
    [imageSrc]="'asdads.png'"
    [title]="'Card Title'"
    [description]="
      'Card description goes here. Lorem ipsum dolor sit amet. Consectetur adipiscing elit.'
    "
  ></app-card>
  <app-card
    [imageSrc]="'asdads.png'"
    [title]="'Card Title'"
    [description]="
      'Card description goes here. Lorem ipsum dolor sit amet. Consectetur adipiscing elit.'
    "
  ></app-card>
  <app-card
    [imageSrc]="'asdads.png'"
    [title]="'Card Title'"
    [description]="
      'Card description goes here. Lorem ipsum dolor sit amet. Consectetur adipiscing elit.'
    "
  ></app-card>
  <app-card
    [imageSrc]="'asdads.png'"
    [title]="'Card Title'"
    [description]="
      'Card description goes here. Lorem ipsum dolor sit amet. Consectetur adipiscing elit.'
    "
  ></app-card>
  <app-card
    [imageSrc]="'asdads.png'"
    [title]="'Card Title'"
    [description]="
      'Card description goes here. Lorem ipsum dolor sit amet. Consectetur adipiscing elit.'
    "
  ></app-card>
</div>
