<nav
  class="text-[#0f0f0f] font-bold h-[60px] w-[100%] bg-[#ffffff] flex p-3 border-b-2 border-[#0f0f0f]"
>
  <img src="" class="ml-[20%] mr-0.5" />
  <h2 class="mr-[40%] font-[400] text-xl">LinguaLearn</h2>
  <h3 class="mr-[40px]">Pricing</h3>
  <h3 class="mr-[40px]">Reviews</h3>
  <h3 class="mr-[40px]">Login</h3>

  <a
    href="/register"
    class="mr-[40px] bg-[#0f0f0f] text-[#f0f0f0] rounded-md hover:cursor-pointer hover:bg-[#3b3b3b] transition-all duration-300 flex items-center justify-center pb-4 pt-4 pl-2 pr-2 mb-1"
  >
    <h3>Get Started</h3>
  </a>
</nav>
