<app-header></app-header>
<app-welcome-div></app-welcome-div>
<h2 class="text-[25px] text-center mt-[60px] mb-[60px]">
  Why Choose LinguaLearn?
</h2>

<div id="cardsDiv" class="grid grid-cols-3 grid-rows-2 mx-[20vh]">
  <app-card
    class="ml-13 mr-5"
    [imageSrc]="'asdads.png'"
    [title]="'Card Title'"
    [description]="
      'Card description goes here. Lorem ipsum dolor sit amet. Consectetur adipiscing elit.'
    "
  ></app-card>
  <app-card
    class="ml-15 mr-5"
    [imageSrc]="'asdads.png'"
    [title]="'Card Title'"
    [description]="
      'Card description goes here. Lorem ipsum dolor sit amet. Consectetur adipiscing elit.'
    "
  ></app-card>
  <app-card
    class="ml-15 mr-5"
    [imageSrc]="'asdads.png'"
    [title]="'Card Title'"
    [description]="
      'Card description goes here. Lorem ipsum dolor sit amet. Consectetur adipiscing elit.'
    "
  ></app-card>
  <app-card
    class="ml-15 mr-5"
    [imageSrc]="'asdads.png'"
    [title]="'Card Title'"
    [description]="
      'Card description goes here. Lorem ipsum dolor sit amet. Consectetur adipiscing elit.'
    "
  ></app-card>
  <app-card
    class="ml-15 mr-5"
    [imageSrc]="'asdads.png'"
    [title]="'Card Title'"
    [description]="
      'Card description goes here. Lorem ipsum dolor sit amet. Consectetur adipiscing elit.'
    "
  ></app-card>
  <app-card
    class="ml-15 mr-5"
    [imageSrc]="'asdads.png'"
    [title]="'Card Title'"
    [description]="
      'Card description goes here. Lorem ipsum dolor sit amet. Consectetur adipiscing elit.'
    "
  ></app-card>
</div>

<div
  class="bg-[#E8EEFF] w-[100%] h-[700px] mt-[60px] pt-0 flex flex-col items-center justify-center"
>
  <h2 class="uppercase text-3xl mb-15">Join the learning revolution!</h2>

  <img src="placeholder.png" />
  <!-- later on we should have a video playing here that shows the cool features of the app -->
</div>

<app-footer></app-footer>
